body {
  background-color: lavender;
}

canvas {
  border: 1px solid #d3d3d3;
  background-color: #f1f1f1;
}
.restart button {
  font-size: 25px;
}
.btn {
  text-align: center;
  align-items: center;
  width: 800px;
}

.up {
  background-image: url(play.png);
  width: 24px;
  height: 24px;
  transform: rotate(270deg);
}
.left {
  background-image: url(play.png);
  width: 24px;
  height: 24px;
  transform: rotate(180deg);
}
.right {
  background-image: url(play.png);
  width: 24px;
  height: 24px;
}
.down {
  background-image: url(play.png);
  width: 24px;
  height: 24px;
  transform: rotate(90deg);
}
